Pillow==10.1.0
plotly==5.14.1
openpyxl==3.1.2
streamlit
st-gsheets-connection
git+https://github.com/streamlit/gsheets-connection
pandasql  # this is for example/st_app.py only
matplotlib
wordcloud
streamlit_extras
